*{
            padding: 0%;
            margin: 0%;
            
            font-family: Arial, Helvetica, sans-serif
}
.Window{
            background-color: rgb(251, 247, 247);
            height: 1300px;
}
.navbar{
            display: flex;
            align-items: center;
            color: white;
            padding-left: 5px;
            height: 65px;
            background-color: rgb(9, 9, 104);
            font-weight: 500;
            border: 3px solid transparent ;
            border-bottom-color: yellow;
}
.navbar-icon{
            padding-top: 5px;
            
            height: 50px;
            width: 45px;
            background-size: cover;
}
.navbar-title{
            font-size: 1.2rem;
            margin-left: 10px;
}
/*Menu box*/
.menu-box{
            border-radius: 2px;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
            height: 200px;
            width: 175px;
            border: 2px solid transparent;
            background-color: rgb(238, 235, 235);
            
}
.none {
            text-decoration: none;
            text-transform: capitalize;
            color: black;
}

label{
            display: block;
}

/*rationcard box-2*/
.rationcard-box2{
            margin-left: 200px;
            height: 450px;
            width: 80%;
            background-color: white;
            border-radius: 2px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
}

input {
            width: 15%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1em;
          }
button {
            background-color: rgb(9, 9, 104);
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            font-size: 1em;
            cursor: pointer;
          }
.menu-box div{
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
}

/*rationcard box-1*/
.rationcard-box1{
            margin-left: 20px;
            margin-bottom: 20px;
            height: 200px;
            width: 80%;
            background-color: white;
            border-radius: 2px;
            box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
}

.details p{
            margin-top: 10px;
            

}
/*check update box*/
.check-update{
            margin-left: 200px;
            margin-top: 20px;
            height: 200px;
            width: 80%;
            background-color: white;
            border-radius: 2px;
            box-shadow: 5px 2px 5px  rgba(0, 0, 0, 0.1);
            padding: 20px;
}

.contact-us{
            margin-left: 200px;
            margin-top: 20px;
            margin-bottom: 50px;
            height: 100px;
            width: 80%;
            background-color: white;
            border-radius: 2px;
            box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;

}
button:active{
            background-color: aqua;
}
/*commons*/
.titles{
            margin-bottom: 20px;
            margin-top: 10px;
            font-size: large;
            color: rgb(9, 9, 104);
}
.flex{
  display: flex;
}
